#map{
    position:absolute;
    left: 0%;
    top: 0%;
    width: 65%;
    height: 100%;
}

#menu{
    position:absolute;
    right: 0px;
    top: 0%;
    width: 33%;
    height: 90%;
    margin: 5px;
}

#baloon ul {
    list-style-type: none;
    margin: 0;
}

#layout ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

datalist {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

datalist option {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
}

#options_content{
    height: 100%;
    padding:5px;
    border: 1px gray solid;
    background-color: lavenderblush;
}

.button{
    cursor: pointer;
    mix-blend-mode: luminosity;
}


.button:hover{
    mix-blend-mode: unset;
}

#del.button{
    transform: rotate(45deg);
    filter: hue-rotate(240deg);
}