<img class="button" src="assets/img/index/cross.png">
<img class="button" id="del" src="assets/img/index/cross.png">
<hr>
{% for group in groups %}
<div class="group" id="{{ group.getId() }}">
    <p>{{ group.getName() }}</p>
</div>
<hr>
{% else %}
    <em>Нет групп</em>
{% endfor %}