{% extends 'base.html.twig' %}

{% block title %}Главнвя{% endblock %}
{% block body %}

<div id="map"></div>
<div id = "menu">
    <div id = "nav">
        <a id="groups_button">Группы</a>
    </div>
    <div id="options_content">
        <div id="groups">
            {% include '/index/groups.html.twig' %}
        </div>
    </div>
</div>


{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="assets/css/index/main.css" />
{% endblock %}

{% block javascripts %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=f76aeeaf-a382-46ed-b7f2-4927d286276c&lang=ru_RU" type="text/javascript"></script>
<script src="assets/js/index/map.js"></script>
<script src="assets/js/index/baloon_template.js"></script>
<script src="assets/js/index/baloon_send.js"></script>
<script src="assets/js/index/groups.js"></script>
<script src="assets/js/editable_label.js"></script>
<script id="AllLamps" type="application/json">
  {{ AllLamps|json_encode()|raw }}
</script>
{% endblock %}